/* ------------------service--------------------- */

:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --brand-color: #2196f3;
  --footer-text: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "roboto", sans-serif;
}

:root {
}

.link {
  font-style: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------header--------------- */

.brand-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.brand-span-web {
  color: var(--brand-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ---------------portfolio--------------- */

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.gallery-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.gallery-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ---------------footer--------------- */

.footer-address {
  font-style: inherit;
}

.footer {
  background-color: #2f303a;
}

.footer-link-place {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link-place:hover,
.footer-link-place:focus {
  color: var(--accent-color);
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-text);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.brand-span-studio {
  color: #ffffff;
}
